BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: false
SortIncludes: true
IncludeBlocks: Preserve
MaxEmptyLinesToKeep: 1